section {
    margin: 0 80px 50px ;
    padding: 56px;
}

.frontpage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading1 {
    margin-bottom: 25px;
}

.heading1> h3 {
    font-weight: bold;
    color: var(--black);
    line-height: 56px;
    width: 427px;
    font-size: 48px;
    height: 112px;
}

.para {
    margin-bottom: 45px;
}

.para> P {
    font-weight: 300;
    line-height: 32px;
    font-size: 21px;
    color: var(--gray);
    width: 445px;
    height: 96px;
}

.img1>img {
    transform: translateY(-35%);
}

.button > button {
    width: 200px;
    height: 56px;
    background: var(--skyeblue);
    border-radius: 56px;
    color: white;
    border: var(--skyeblue);
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
}

/* services */
.services {
    position: relative;
}

.services-heading {
    width: 100%;
    transform: translateY(-100%);
}

.services-heading> h1 {
    text-align: center;
    margin-bottom: 26px;
    height: 56px;
    line-height: 56px;
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
} 

.services-heading> hr {
    width: 56px;
    height: 20x;
    border-radius: 5px;
    transform: translateX(570px);
    margin-bottom: 33px;
}

.services-heading> p {
    height: 60px;
    line-height: 30px;
    font-size: 18px;
    color: var(--gray);
    text-align: center;
}

.services-vector {
    position: absolute;
    transform: translateX(-30%);
    top: 100px;
}

/* healthcare provider */

/* .healthcare {
    display: flex;
    flex-direction: column;
} */

.healthcare-provider {
    display: flex;
    gap: 142px;
}

.providers {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.providers > hr {
    height: 2px;
    width: 56px;
    border-radius: 10px;
}

.providers span:nth-of-type(1) {  
    /* height: 112px; */
    font-weight: 700;
    color: var(--black);
    font-size: 36px;
    line-height: 56px;
    margin-top: 45px;
}

.providers span:nth-of-type(2) {  
    width: 450px;
    font-weight: 300;
    color: #7D7987;
    font-size: 18px;
    line-height: 30px;
}

span > button {
    width: 200px;
    height: 56px;
    background: #fff;
    border-radius: 56px;
    color: var(--skyeblue);
    border: 1px solid #458FF6;
    font-size: 18px;
    /* line-height: 60px; */
    font-weight: 700;

}

.c-dots {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
}


/* @media screen and (max-width: 480px) {
    .services-heading> hr {
        transform: translateX(28px);
    }
} */

@media screen and (max-width: 1280px) {
    .services-heading> hr {
        display: none;
    }

    .services-vector img {
        transform: scale(0.8);
    }

    .providers {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .providers > hr {
        display: none;
    }
}