.columns-dots {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 0.01fr);
    transform: translateY(-25%);
    margin: 10px;
    position: relative;
    right: 55px;
}

.dotss {
    width: 10.46px;
    height: 10.24px;
    border: 1px solid var(--background);
    background: var(--background);
    border-radius: 50px;
    opacity: .5;
}